In [1]:
import polars as pl
from perspective.widget import PerspectiveWidget

In [2]:
d1 = pl.read_parquet("new_share.parquet")

In [3]:
d2 = pl.read_parquet("stock_basic.parquet")

In [4]:
d2=d2.with_columns(
    list_date=pl.col.list_date.str.to_date("$Y%m%d"),
)

InvalidOperationError: conversion from `str` to `date` failed in column 'list_date' for 677 out of 677 values: ["20170922", "20170929", … "20161228"]

You might want to try:
- setting `strict=False` to set values that cannot be converted to `null`
- using `str.strptime`, `str.to_date`, or `str.to_datetime` and providing a format string